$main-color: #ffffff;
$second-bg-color: #2f303a;
$text-color: #757575;
$title-color: #212121;
$hover-color: #2196f3;
$footer-text-color: rgba(255, 255, 255, 0.6);
$filter-btn-bg: #f5f4fa;
$logo-color: #000000;
$border-work-color: #eeeeee;
$svg-color: #afb1b8;
$animation-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
