.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.container--flex {
  @media screen and (min-width: 768px) {
    @include flex;
  }
}

.logo-wrap {
  display: flex;
  align-items: center;
}

.burger-btn {
  display: block;
  margin-left: auto;

  padding: 0;
  background-color: transparent;
  cursor: pointer;

  transition: fill 250ms $animation-cubic-bezier;

  &:hover,
  &:focus {
    fill: $hover-color;
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.burger-btn__close {
  position: relative;
  right: 15px;
  top: 10px;
}

.is-open .icon__open-burger {
  display: block;
}

.header-wrap {
  @media screen and(max-width: 767px) {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: $main-color;

    z-index: 30;

    &.is-open {
      display: block;
    }
  }

  @media screen and(min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
}

.heder__iner {
  @media screen and(max-width: 767px) {
    display: flex;
    flex-direction: column;

    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 48px;

    height: 100vh;
  }

  @media screen and(min-width: 768px) {
    display: flex;
  }
}

.nav {
  @media screen and (max-width: 767px) {
    margin-bottom: auto;
  }
}

.nav-site {
  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      &__item:not(:last-child) {
        margin-right: 50px;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: $title-color;

    transition: color 250ms $animation-cubic-bezier;

    @media screen and (min-width: 768px) {
      position: relative;
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
    }

    &:hover,
    &:focus {
      color: $hover-color;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.address {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;

    &__item:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 84px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: 305px;

    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__cont {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: $text-color;

    @media screen and (max-width: 767px) {
      transition: color 250ms $animation-cubic-bezier, transform 250ms $animation-cubic-bezier,
        transform-origin 250ms $animation-cubic-bezier;

      &:hover,
      &:focus {
        transform: scale(1.1);
        transform-origin: bottom left;
        color: $hover-color;
      }
    }

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      font-size: 12px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;

      transition: color 250ms $animation-cubic-bezier;

      &:hover,
      &:focus {
        color: $hover-color;
      }
    }
  }

  &__icon {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;

      display: inline-block;
      margin-right: 8px;
      fill: currentColor;

      &--envelope {
        width: 14px;
        height: 10px;
      }
      &--smartphone {
        width: 10px;
        height: 14px;
      }
    }

    @media screen and (min-width: 1200px) {
      margin-right: 10px;

      &--envelope {
        width: 16px;
        height: 12px;
      }

      &--smartphone {
        height: 16px;
      }

      &:hover,
      &:focus {
        fill: $hover-color;
      }
    }
  }
}

.header-social {
  display: flex;
  flex-wrap: wrap;

  margin-top: 64px;

  &__item {
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
    }
    @media screen and (min-width: 480px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $hover-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.current {
  @media screen and (min-width: 768px) {
    color: $hover-color;

    &--аctive::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      border-radius: 4px;
      height: 4px;

      background-color: $hover-color;
    }
  }
}
