.work {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.work__item {
  transition: box-shadow 250ms $animation-cubic-bezier;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    // background-color: $main-color;

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
}

.work__inner {
  position: relative;
  overflow: hidden;
}

.work-overley {
  position: absolute;

  @include flex;

  top: 0;
  height: 100%;
  // min-height: 294px;

  // padding-top: 63px;
  padding-right: 24px;
  // padding-bottom: 63px;
  padding-left: 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms $animation-cubic-bezier, opacity 250ms $animation-cubic-bezier,
    box-shadow 250ms $animation-cubic-bezier;

  opacity: 0;

  .work__item:hover & {
    transform: translateY(0);
    opacity: 1;
  }

  &__text {
    color: $main-color;
    font-size: 18px;
    line-height: 1.55;
  }
}

.work-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;

  background-color: $main-color;
  border-right: 1px solid $border-work-color;
  border-bottom: 1px solid $border-work-color;
  border-left: 1px solid $border-work-color;

  &__title {
    margin-bottom: 4px;

    color: $title-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__text {
    color: $text-color;
    font-size: 16px;
    line-height: 1.87;
  }
}

// .work {
//   display: flex;
//   flex-wrap: wrap;

//   &__item {
//     width: calc((100% - 60px) / 3);
//     background-color: $main-color;

//     &:not(:nth-child(3n)) {
//       margin-right: 30px;
//     }
//     &:not(:nth-last-child(-n + 3)) {
//       margin-bottom: 30px;
//     }

//     &:hover {
//       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//         1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
//   }
// }

// .work__inner {
//   position: relative;
//   overflow: hidden;
// }

// .work-overley {
//   position: absolute;
//   top: 0;
//   min-height: 294px;

//   padding-top: 63px;
//   padding-right: 24px;
//   padding-bottom: 63px;
//   padding-left: 24px;

//   background-color: rgba(33, 150, 243, 0.9);

//   transform: translateY(100%);

//   transition: transform 250ms $animation-cubic-bezier, opacity 250ms $animation-cubic-bezier,
//     box-shadow 250ms $animation-cubic-bezier;

//   opacity: 0;

//   .work__item:hover & {
//     transform: translateY(0);
//     opacity: 1;
//   }

//   &__text {
//     color: $main-color;
//     font-size: 18px;
//     line-height: 1.55;
//   }
// }

// .work-content {
//   padding-top: 20px;
//   padding-right: 24px;
//   padding-bottom: 20px;
//   padding-left: 24px;

//   background-color: $main-color;
//   border-right: 1px solid $border-work-color;
//   border-bottom: 1px solid $border-work-color;
//   border-left: 1px solid $border-work-color;

//   &__title {
//     margin-bottom: 4px;
//     color: $title-color;
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//   }

//   &__text {
//     color: $text-color;
//     font-size: 16px;
//     line-height: 1.87;
//   }
// }
